* {
    margin: 0;
    padding: 0;
}

.main {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main .box {
    width: 350px;
    height: 200px;
    background-color: #F8F8F8;
    margin: 12px;
}

.main .box .box__circle {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #339999;
    top: 10%;
}

.main .box .box__circle i {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #339999;
    transform: translate(-50%, -50%);
}

.main .box .box__title {
    margin-top: 32px;
    text-align: center;
}

.main .box .box__title h4 {
    font-size: 22px;
    font-weight: initial;
}

.main .box .box__content p {
    margin-top: 14px;
    text-align: center;
    font-size: 14px;
    font-weight: initial;
    opacity: 0.6;
    margin-left: 12px;
    margin-right: 12px;
}