* {
    padding: 0px;
    margin: 0px;
}

.main {
    border-radius: 8px;
    max-width: 665px;
    font-family: 'Mukta', sans-serif;
    margin: 50px auto;
    background-color: #F2F3F5;
}

.list__img {
    width: 100px;
    height: 100px;
    margin-right: 36px;
}

.main ul {
    padding: 18px;
}

.main ul li {
    display: flex;
    list-style: none;
    margin-bottom: 22px;
    padding-bottom: 18px;
    border-bottom: 1px dashed red;
}

.list__content h3 {
    text-transform: uppercase;
    margin-top: 4px;
}

.list__content p {
    margin-top: 12px;
    font-size: 14px;
    opacity: 0.6;
    font-weight: initial;
}