* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    font-family: Arial, Helvetica, sans-serif;
    margin: 12px 320px 24px 320px;
}

.title {
    font-size: 18px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    padding: 12px;
    margin-top: 12px;
    font-weight: inherit;
    text-transform: uppercase;
}

.content {
    background-color: #F4F4F4;
    margin: 8px;
    width: 100%;
    padding: 12px;
}

h4 {
    font-size: 18px;
    font-weight: 600;
}

b {
    color: #A4B91F;
}

p {
    opacity: 0.6;
    font-size: 12px;
    margin-top: 12px;
}

.content-name {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width:739px) {
    .main {
        margin: 12px 50px 12px 50px;
    }
}

@media only screen and (min-width:740px) and (max-width:1023px) {
    .main {
        margin: 12px 100px 24px 100px;
    }
}