* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.6;
}

.main {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.main-img {
    opacity: 0.6;
    height: 300px;
    width: 100%;
    background-color: #363636;
}

.content {
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-top {
    padding: auto;
    font-size: 22px;
    color: white;
}

.main-content {
    font-style: inherit;
    font-size: 14px;
    margin-top: 26px;
    color: white;
}

.btn-footer {
    background-color: #D94236;
    border: 1px solid #D94236;
    margin-top: 36px;
    color: white;
    border-radius: 2px;
    height: 40px;
    padding: 0 24px;
    box-shadow: inset 0px 1px 2px 2px rgba(220, 118, 111, 0.5);
    z-index: 1;
    opacity: 1;
}

.btn-footer:hover {
    color: white;
    /* background-color: ; */
    cursor: pointer;
    opacity: 0.8;
}


/* Mobile */

@media only screen and (max-width: 46.1875em) {
    .btn-footer {
        background-color: green;
        border: 1px solid green;
        box-shadow: inset 0px 1px 3px 2px rgba(38, 239, 16, 0.5);
    }
}


/* Tablet */

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .btn-footer {
        background-color: red;
        border: 1px solid red;
        box-shadow: inset 0px 1px 3px 2px rgba(239, 16, 16, 0.5);
    }
}


/* PC */

@media only screen and (min-width: 64em) {
}