* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b1b1b1;
}

.main {
    margin-top: 12px;
    text-align: center;
}

.email {
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    border: 3px solid aqua;
}

.ti-email {
    top: 32%;
    right: 32%;
    color: aqua;
    font-size: 32px;
    position: absolute;
}

.top {
    margin-top: 32px;
    font-size: 48px;
}

.content {
    margin-top: 22px;
    font-size: 20px;
    opacity: 0.6;
}

.footer {
    margin-top: 32px;
}

.input-email {
    border-radius: 12px;
    border: 2px solid #555;
    width: 300px;
    height: 46px;
}

.btn-request {
    width: 200px;
    margin-top: 12px;
    height: 46px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 12px;
    border: 1px solid aqua;
    background-color: aqua;
}

.btn-request:hover {
    background-color: white;
    color: aqua;
}