* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myFonts;
    src: url(./asset/fonts/static/Kufam-SemiBold.ttf)
}

body {
    font-family: myFonts, sans-serif;
    background-color: #F2F2F2;
}

.main {
    text-align: center;
}

.main .email {}

.email__circle {
    position: relative;
    margin: 32px auto;
    width: 50px;
    height: 50px;
    border: 2px solid #339999;
    border-radius: 50%;
}

.email__circle i {
    color: #339999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    margin-top: -14px;
    margin-bottom: 12px;
}

.content__title {
    font-weight: initial;
    font-size: 28px;
}

p {
    font-size: 14px;
    opacity: 0.8;
    margin-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.input {
    display: flex;
    flex-direction: column;
}

.input__email {
    width: 300px;
    height: 42px;
    box-sizing: border-box;
    padding: 0 8px;
    margin: 6px auto;
    border: 1px solid white;
    opacity: 0.8;
    border-radius: 4px;
}

.input__btn {
    height: 46px;
    border-radius: 4px;
    width: 170px;
    color: white;
    border: 1px solid #70CBCE;
    margin: 12px auto;
    background-color: #70CBCE;
    text-transform: uppercase;
    line-height: 1.6;
}