* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.6;
}

.main {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
}

.header {
    padding: 10px;
    margin: 0 auto;
    height: 46px;
    width: 150px;
    background-color: #8598cc;
}

.top {
    text-align: center;
    color: white;
    font-size: 22px;
}

.content {
    margin-top: 24px;
    text-align: center;
}

h2 {
    font-size: 32px;
}

.title {
    font-size: 32px;
}

b {
    color: #51C8F4;
}

.content_header {
    margin-top: 32px;
    opacity: 0.6;
}

.footer {
    margin-top: 24px;
    text-align: center;
}

.btn-footer {
    border-radius: 4px;
    border: 1px;
    color: white;
    background-color: #2d3032;
    margin: 10px;
    padding: 12px;
    height: 46px;
    width: 160px;
    font-size: 14px;
}

.btn-footer:hover {
    background-color: #b1b1b1;
    color: black;
}


/* Mobile */

@media only screen and (max-width:46.1875em) {
    .footer {
        flex-direction: column;
    }
    .btn-footer {
        width: 50%;
    }
    b {
        color: green;
    }
    .content_header {}
    .header {
        background-color: green;
        color: #666;
    }
}


/* Tablet */

@media only screen and (min-width:46.25em) and (max-width:63.9375em) {
    p {
        color: red;
    }
}


/* PC */

@media only screen and (min-width:64em) {}