* {
    margin: 0;
    padding: 0;
}

.main {
    background-color: #6e6262;
}

.content {
    margin: 24px 24px 0 24px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 24px;
}

i {
    font-size: 32px;
    color: white;
}

.content__number {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 12px;
    font-size: 32px;
}

p {
    font-size: 16px;
    margin-top: 14px;
    color: white;
}