* {
    padding: 0;
    margin: 0;
}

html {
    font-family: Helvetica, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 0.8;
}

.content,
.content-1 {
    margin: 12px 24px;
}

.content {
    margin-bottom: 5%;
}

.content-1 {
    margin-top: 5%;
}

.chia {
    border-bottom: 1px solid red;
}

.main__title {}

.main__title h1 {
    text-align: justify;
    font-weight: 100;
}

.main__content--box {
    float: left;
    width: 50%;
}

.main__content--box-1 {
    float: right;
    width: 50%;
}

.main__content {
    margin-top: 24px;
}

.main__content p {
    text-align: justify;
    font-weight: 100;
}

.main__button {
    margin-top: 24px;
    text-align: justify;
}

.btn__custom {
    padding: 0 16px;
    height: 48px;
    border-radius: 28px;
    background-color: #75b6e5;
    border: 1px solid #75b6e5;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
}

.btn__custom:hover,
.btn__custom-1:hover {
    opacity: 0.8;
    cursor: pointer;
}

.btn__custom-1 {
    padding: 0 16px;
    height: 48px;
    border-radius: 28px;
    background-color: #85e575;
    border: 1px solid #85e575;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
}

.main__img {
    float: right;
    width: 50%;
}

.main__img--img {
    width: 50%;
}

.main__img-1 {
    float: left;
    width: 50%;
}

.main__img--img-1 {
    width: 50%;
}