* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.main__1 {
    border-bottom: 1px solid #ccc;
    margin-left: 12px;
    margin-right: 12px;
    width: 100%;
    max-height: 350px;
    display: flex;
}

.content {
    width: 50%;
}

.content-img {
    text-align: center;
    margin: 0 auto;
}

.img {
    margin: 0 auto;
    width: 100%;
    max-height: 350px;
}

.main__2 {
    padding-top: 62px;
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

h3 {
    margin-top: 12px;
    font-size: 32px;
    font-weight: 100;
    opacity: 0.8;
}

p {
    margin-top: 48px;
    opacity: 0.4;
    font-size: 18px;
}

.button {
    margin-top: 24px;
    height: 46px;
    border-radius: 8px;
    color: beige;
    width: 250px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: aqua;
    border: 1px solid aqua;
    opacity: 0.6;
}

.btn2 {
    background-color: green;
    border: 1px solid green;
}

button:hover {
    opacity: 1;
}